@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,600;9..144,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap");

/*
font-family: 'Manrope', sans-serif;
font-family: 'Fraunces', serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
  background-color: #fbf8ff;
  overflow-x: hidden;
}

.container {
  padding: 35px 80px;
  margin: 0 auto;
  width: 1440px;
}

.section-header {
  background-color: #25083d;
  width: 100vw;
  height: 75vh;
  padding: 0;
  margin: 0;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 4px solid #45fea1;
}

.nav-link:link:hover {
  color: grey;
}

.hero-title {
  font-size: 70px;
  font-family: "Fraunces", serif;
  font-weight: 600;
}
.hero-special-text {
  border-bottom: 4px solid #45fea1;
}

.hero-botton {
  margin-bottom: 110px;
  margin-top: 30px;
}

.hero-btn {
  border: none;
  padding: 20px 25px;
  background-color: #45fea1;
  font-weight: 600;
  cursor: pointer;
}
.hero-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.hero-image {
  top: 50%;
  left: 50%;
  transform: translate(-70%, 0%);
  position: relative;
  z-index: 2;
  width: 60%;
}
.hero-image img {
  max-width: 100%;
  margin-top: 70px;
}

.bg-pattern-1 {
  position: absolute;
  top: 10%;
  left: -96px;
  width: 240px;
}
.bg-pattern-2 {
  position: absolute;
  top: 45%;
  right: -45px;
  width: 140px;
}

.svg-curve {
  position: absolute;
  bottom: 24%;
  width: 100%;
  z-index: 0;
}

.svg-curve2 {
  position: absolute;
  top: 100.5%;
  width: 100%;
}

.section-numbers {
  background-color: #fbf8ff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 50vh;
  z-index: -1;
  align-items: center;
  color: #5e4771;
  font-weight: 600;
  font-family: "Fraunces", serif;
  margin-top: 70px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  text-align: center;
}

.numbers {
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  padding: 10px 15px;
  color: #634a75;
  font-size: 22px;
}

.sub-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
}

.paragraph {
  width: 350px;
  color: #68626b;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.9;
  font-weight: 400;
}

.section-test {
  display: flex;
  flex-wrap: wrap;
  padding: 285px 150px;
  padding-top: 100px;
  padding-bottom: 185px;
  align-items: center;
  background-color: #fff;
  color: #5e4771;
  font-weight: 600;
  font-family: "Fraunces", serif;
  position: relative;
  justify-content: center;
  margin-top: 70px;
}

.image-test {
  width: 20%;
}
.image-test-sect {
  max-width: 100%;
}
.text-test {
  background-color: #25083d;
  padding: 30px;
  color: #fff;
  margin-left: -64px;
  margin-bottom: -262px;
}
.title-test {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 25px;
}
.paragraph-test {
  color: #fbf8ff;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 25px;
  width: 550px;
}

.pattern1-test {
  position: absolute;
  top: 60%;
  left: 60%;
  width: 200px;
  z-index: 3;
}
footer {
  height: 15vh;
  width: 100%;
  position: relative;
  z-index: 0;
  text-align: center;
  color: #5e4771;
  font-weight: 600;
  font-family: "Fraunces", serif;
  background-color: #fff;
  padding: 40px;
}
.logo {
  margin-bottom: 30px;
}
.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.image-icon {
  margin-right: 15px;
}

/* Media queries */

@media all and (max-width: 1440px) {
  .hero-image {
    top: 50%;
    left: 50%;
    transform: translate(-70%, -30%);
    position: relative;
    z-index: 2;
    width: 60%;
  }
  .hero-image img {
    max-width: 100%;
    margin-top: 70px;
  }

  .image-test {
    width: 30%;
  }
  .text-test {
    margin-left: -6%;
  }
  .svg-curve2 {
    top: 98%;
  }
}
@media all and (min-width: 800px) and (max-width: 1230px) {
  .container {
    padding: 35px 80px;
    margin: 0 auto;
    width: 100%;
  }
  .hero-image {
    transform: translate(-50%, -10%);
    width: 70%;
  }
  .hero-image img {
    max-width: 100%;
    margin-top: 70px;
  }

  .svg-curve {
    position: absolute;
    bottom: 20%;
    width: 100%;
    z-index: 0;
  }
  .svg-curve2 {
    top: 105%;
  }
  .section-test {
    padding-top: 10px;
    padding-bottom: 285px;
  }
  .image-test {
    width: 40%;
  }
  .text-test {
    margin-left: -6%;
    margin-top: -30px;
  }
  footer {
    position: static;
  }
}

@media all and (min-width: 500px) {
  .container {
    padding: 35px 80px;
    margin: 0 auto;
    width: 100%;
  }
  .hero-image {
    /* transform: translate(-70%, -15%); */
    width: 75%;
  }
  .svg-curve2 {
    top: 134%;
  }
}

@media all and (min-width: 375px) {
  .container {
    padding: 35px 80px;
    margin: 0 auto;
    width: 100%;
  }
  .hero-image {
    /* transform: translate(-70%, -15%); */
    width: 75%;
  }
  .svg-curve2 {
    top: 134%;
  }
}
