@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,600;9..144,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap");

/*
font-family: 'Manrope', sans-serif;
font-family: 'Fraunces', serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
  background-color: #fbf8ff;
  overflow-x: hidden;
}

.container {
  padding: 35px 80px;
  margin: 0 auto;
  width: 1440px;
}

.section-header {
  background-color: #25083d;
  width: 100vw;
  height: 75vh;
  padding: 0;
  margin: 0;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 4px solid #45fea1;
}

.nav-link:link:hover {
  color: grey;
}

.hero-title {
  font-size: 70px;
  font-family: "Fraunces", serif;
  font-weight: 600;
  /* margin: 16px 0; */
}
.hero-special-text {
  border-bottom: 4px solid #45fea1;
}

.hero-botton {
  margin-bottom: 110px;
  margin-top: 30px;
}

.hero-btn {
  border: none;
  padding: 20px 25px;
  background-color: #45fea1;
  font-weight: 600;
  cursor: pointer;
  /* margin-bottom: 105px; */
}
.hero-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.hero-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  position: relative;
  z-index: 2;
}
.hero-image img {
  width: 900px;
  margin-top: -26px;
}

.bg-pattern-1 {
  position: absolute;
  top: 10%;
  left: -96px;
  width: 240px;
}
.bg-pattern-2 {
  position: absolute;
  top: 45%;
  right: -45px;
  width: 140px;
}

.svg-curve {
  position: absolute;
  bottom: 24%;
  width: 100%;
  z-index: 0;
}

.svg-curve2 {
  position: absolute;
  bottom: -45%;
  width: 100%;
}

.section-numbers {
  background-color: #fbf8ff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 60vh;
  z-index: -1;
  align-items: center;
  color: #5e4771;
  font-weight: 600;
  font-family: "Fraunces", serif;
  width: 1440px;
  margin: 0 auto;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  text-align: center;
}

.numbers {
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  padding: 10px 15px;
  color: #634a75;
  font-size: 22px;
}

.sub-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
}

.paragraph {
  width: 350px;
  color: #68626b;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.9;
  font-weight: 400;
}

.section-test {
  display: flex;
  flex-wrap: wrap;
  /* position: relative;
  z-index: 0; */
  margin-top: 100px;
  padding: 0 80px;
  align-items: center;
  background-color: #fff;
  color: #5e4771;
  font-weight: 600;
  font-family: "Fraunces", serif;
  max-width: 100%;
  text-align: center;
  height: 50vh;
}

.image-test {
  width: 20%;
  margin-left: 550px;
}
.image-test-sect {
  width: 100%;
}
.text-test {
  display: flex;
  background-color: #25083d;
  padding: 50px;
  height: 400px;
  color: #fff;
  position: relative;
  top: 20%;
  right: 4%;
  flex-wrap: wrap;
  margin-right: 350px;
}
.title-test {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 25px;
}
.paragraph-test {
  color: #fbf8ff;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 25px;
  width: 550px;
}

.pattern1-test {
  position: absolute;
  top: 70%;
  left: 60%;
  width: 200px;
  z-index: 3;
}
footer {
  height: 15vh;
  width: 100%;
  position: relative;
  z-index: 0;
  text-align: center;
  padding: 0 80px;
  align-items: center;
  color: #5e4771;
  font-weight: 600;
  font-family: "Fraunces", serif;
  max-width: 100%;
  background-color: #fff;
  padding: 40px;
  z-index: -1;
}
.logo {
  margin-bottom: 30px;
}
.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.image-icon {
  margin-right: 15px;
}

/* Media queries */

@media screen and (max-width: 1440px) {
  .container {
    padding: 35px 80px;
    width: 100%;
  }
  .section-header {
    background-color: #25083d;
    width: 100vw;
    height: 70vh;
    padding: 0;
    margin: 0;
  }
  .hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
  }
  .hero-image img {
    z-index: 3;
    margin-top: 5px;
    width: 750px;
  }
  .svg-curve {
    position: absolute;
    bottom: 28%;
    width: 100%;
    z-index: 0;
  }
  .svg-curve2 {
    position: absolute;
    bottom: -39%;
  }
  .image-test-sect {
    width: 450px;
    margin-top: 30px;
  }
  .image-test {
    width: 35%;
    margin-left: 250px;
  }
  .section-test {
    display: flex;
    flex-wrap: wrap;

    margin-top: 100px;
    padding: 0 80px;
    align-items: center;
    background-color: #fff;
    color: #5e4771;
    font-weight: 600;
    font-family: "Fraunces", serif;
    max-width: 100%;
    text-align: center;
  }
  .text-test {
    display: flex;
    background-color: #25083d;
    padding: 50px;
    height: 400px;
    color: #fff;
    position: relative;
    top: -46%;
    right: -47%;
    flex-wrap: wrap;
    margin-right: 350px;
  }
}

@media screen and (max-width: 820px) {
  .container {
    padding: 35px 80px;
  }
  .section-header {
    background-color: #25083d;
    width: 100vw;
    height: 75vh;
    padding: 0;
    margin: 0;
  }
  .hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, 10%);
  }
  .hero-image img {
    width: 600px;
    z-index: 3;
    margin-top: -10px;
  }
  .svg-curve {
    bottom: 24%;
  }
  .svg-curve2 {
    position: absolute;
    bottom: -50%;
    left: 0;
  }
  .section-numbers {
    background-color: #fbf8ff;
    display: flex;
    width: 100%;
    padding-left: 70px;
    margin-top: 40px;
    align-items: center;
  }

  .box {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .box-description {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
  }
  .box-description2 {
    margin-bottom: 40px;
  }
  .box-description {
    margin-bottom: 40px;
  }
  .numbers {
    font-size: 16px;
  }
  .paragraph {
    width: 80%;
  }
  .paragraph-test {
    color: #fbf8ff;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 25px;
    width: 450px;
  }
  .sub-title {
    text-align: left;
  }
  .image-test {
    margin-left: 9px;
  }
  .image-test-sect {
    width: 300px;
    margin-top: 40px;
    margin-right: 30px;
  }
  .text-test {
    display: flex;
    background-color: #25083d;
    padding: 20px;
    height: 350px;
    color: #fff;
    position: relative;
    top: -25%;
    right: -30%;
    text-align: left;
  }
}
