@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,600;9..144,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap");

/*
font-family: 'Manrope', sans-serif;
font-family: 'Fraunces', serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
  background-color: #fbf8ff;
  overflow-x: hidden;
}

.container {
  padding: 35px 80px;
  margin: 0 auto;
  width: 1440px;
}

.section-header {
  background-color: #25083d;
  width: 100vw;
  height: 75vh;
  padding: 0;
  margin: 0;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 4px solid #45fea1;
}

.nav-link:link:hover {
  color: grey;
}

.hero-title {
  font-size: 70px;
  font-family: "Fraunces", serif;
  font-weight: 600;
}
.hero-special-text {
  border-bottom: 4px solid #45fea1;
}

.hero-botton {
  margin-bottom: 110px;
  margin-top: 30px;
}

.hero-btn {
  border: none;
  padding: 20px 25px;
  background-color: #45fea1;
  font-weight: 600;
  cursor: pointer;
}
.hero-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.hero-image {
  top: 50%;
  left: 50%;
  transform: translate(-70%, -5%);
  position: relative;
  z-index: 2;
  width: 70%;
}
.hero-image img {
  max-width: 100%;
  margin-top: 70px;
}

.bg-pattern-1 {
  position: absolute;
  top: 10%;
  left: -96px;
  width: 240px;
}
.bg-pattern-2 {
  position: absolute;
  top: 45%;
  right: -45px;
  width: 140px;
}

.svg-curve {
  position: absolute;
  bottom: 24%;
  width: 100%;
  z-index: 0;
}

.svg-curve2 {
  position: absolute;
  top: 100.5%;
  width: 100%;
}

.section-numbers {
  background-color: #fbf8ff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 50vh;
  z-index: -1;
  align-items: center;
  color: #5e4771;
  font-weight: 600;
  font-family: "Fraunces", serif;
  margin-top: 70px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  text-align: center;
}

.numbers {
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  padding: 10px 15px;
  color: #634a75;
  font-size: 22px;
}

.sub-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
}

.paragraph {
  width: 350px;
  color: #68626b;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.9;
  font-weight: 400;
}

.section-test {
  display: flex;
  flex-wrap: wrap;
  padding: 105px 150px;
  align-items: center;
  background-color: #fff;
  color: #5e4771;
  font-weight: 600;
  font-family: "Fraunces", serif;
  position: relative;
  justify-content: center;
  margin-top: 70px;

}

.image-test {
  width: 20%;
}
.image-test-sect {
  max-width: 100%;
}
.text-test {
  background-color: #25083d;
  padding: 50px;
  color: #fff;
  width: 30%;
  margin-left: -64px;
  margin-bottom: -262px;
}
.title-test {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 25px;
}
.paragraph-test {
  color: #fbf8ff;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 25px;
  width: 550px;
}

.pattern1-test {
  position: absolute;
  top: 80%;
  left: 62%;
  width: 200px;
  z-index: 3;
}
footer {
  height: 15vh;
  width: 100%;
  position: relative;
  z-index: 0;
  text-align: center;
  color: #5e4771;
  font-weight: 600;
  font-family: "Fraunces", serif;
  background-color: #fff;
  padding: 40px;
}
.logo {
  margin-bottom: 30px;
}
.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.image-icon {
  margin-right: 15px;
}

/* Media queries */

/* @media all and (min-width: 1440px) {
  .container {
    padding: 35px 80px;
    width: 100%;
  }
  .section-header {
    background-color: #25083d;
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  .hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 2%);
  }
  .hero-image img {
    z-index: 3;
    width: 750px;
  }
  .svg-curve {
    position: absolute;
    width: 100%;
    z-index: 0;
  }
  .svg-curve2 {
    position: absolute;
  }

  .svg-curve2 svg {
    height: 470px;
    position: relative;
    left: -88px;
  }
  .image-test-sect {
    width: 450px;
    margin-top: 30px;
  }
  .image-test {
    width: 35%;
    margin-left: 250px;
  }
  .section-test {
    /* min-height: 95vh; */
  }
  /* .text-test {
    display: flex;
    background-color: #25083d;
    padding: 50px;
    height: 400px;
    color: #fff;
    position: relative;
    top: 30%;
    flex-wrap: wrap;
    margin-right: 350px;
  } */
} */

/* @media all and (min-width: 820px) {
  .container {
    padding: 35px 80px;
  }
  .section-header {
    background-color: #25083d;
    width: 100vw;
    height: 75vh;
    padding: 0;
    margin: 0;
  }
  .hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, 10%);
  }
  .hero-image img {
    width: 600px;
    z-index: 3;
    margin-top: -10px;
  }
  .svg-curve {
    bottom: 24%;
  }
  .svg-curve2 {
    position: absolute;
    bottom: -50%;
    left: 0;
  }
  .section-numbers {
    background-color: #fbf8ff;
    display: flex;
    width: 100%;
    padding-left: 70px;
    margin-top: 40px;
    align-items: center;
  }

  .box {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .box-description {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
  }
  .box-description2 {
    margin-bottom: 40px;
  }
  .box-description {
    margin-bottom: 40px;
  }
  .numbers {
    font-size: 16px;
  }
  .paragraph {
    width: 80%;
  }
  .paragraph-test {
    color: #fbf8ff;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 25px;
    width: 450px;
  }
  .sub-title {
    text-align: left;
  }
  .image-test {
    margin-left: 9px;
  }
  .image-test-sect {
    width: 300px;
    margin-top: 40px;
    margin-right: 30px;
  }
  .text-test {
    display: flex;
    background-color: #25083d;
    padding: 20px;
    height: 350px;
    color: #fff;
    position: relative;
    top: -25%;
    right: -30%;
    text-align: left;
  }
} */

@media all and (max-width: 375px) {
  body {
    overflow: auto;
  }
  .container {
    padding: 35px 0;
  }
  nav {
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-around;
  }
  .nav-access {
    width: 100%;
  }
  .section-header {
    background-color: #25083d;
    height: 70vh;
  }
  .logo {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .logo img {
    width: 80px;
    margin-left: 40px;
  }
  .hero {
    /* text-align: left; */
    margin-top: 30px;
  }

  .hero-title {
    font-size: 40px;
  }
  .bg-pattern-1,
  .bg-pattern-2 {
    display: none;
  }

  .hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, 5%);
  }
  .hero-image img {
    width: 340px;
    z-index: 3;
  }
  .svg-curve {
    bottom: 24%;
    left: -2px;
  }
  .svg-curve2 {
    position: absolute;
    bottom: -158%;
    left: 0;
  }

  .svg-curve svg {
    height: 374px;
    width: 461px;
  }
  .section-numbers {
    background-color: #fbf8ff;
    display: flex;
    margin: 80px auto;
    text-align: center;
    padding-left: 30px;
    height: 160vh !important;
  }
  .sub-title {
    display: inline-block;
    font-size: 22px;
    text-align: center;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box-description {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
  }
  .box-description2 {
    margin-bottom: 40px;
  }
  .box-description {
    margin-bottom: 40px;
  }
  .numbers {
    font-size: 16px;
  }
  .paragraph {
    width: 100%;
  }
  .paragraph-test {
    color: #fbf8ff;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 25px;
    width: 450px;
  }
  .sub-title {
    text-align: center;
  }
  .image-test {
    margin-left: 9px;
  }
  .image-test-sect {
    width: 300px;
    margin-top: 40px;
    margin-right: 00px;
  }

  .section-test {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #5e4771;
    font-weight: 600;
    font-family: "Fraunces", serif;
    height: 100vh;
    width: 90%;
    padding-left: 30px;
    margin-bottom: 40px;
  }

  .text-test {
    display: flex;
    background-color: #25083d;
    padding: 30px 30px;
    height: 400px;
    color: #fff;
    position: relative;
    top: -8%;
    right: 11%;
    width: 350px;
    margin: 5px;
    text-align: center;
  }
  .title-test {
    font-size: 32px;
  }
  .paragraph-test {
    font-size: 16px;
    width: 300px;
  }
}
